In [1]:
#nltk.download('all')

In [2]:
import re
import unicodedata
# unicodedata.normalize('NFKD', article)\
# .encode('ascii', 'ignore')\
# .decode('utf-8')
import nltk
# tokenize = nltk.tokenize.ToktokTokenizer()
# tokenize.tokenize(article, return_str=True)
# ps = nltk.porter.PorterStemmer()
# ps.stem('')
# wnl = nltk.stem.WordNetLemmatizer()
# wnl.lemmatize('')
from nltk.corpus import stopwords
# stopwords_list = stopwords.words('english')
from wrangle import *

### Exercises
The end result of this exercise should be a file named prepare.py that defines the requested functions.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

###### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:
- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

###### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

###### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

###### 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

###### 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.
- This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

###### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

###### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

###### 8. For each dataframe, produce the following columns:
- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

###### 9. Ask yourself:
- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

---

###### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:
- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

In [3]:
s = "I went to the park to play and loved sitting on the swings... we you ours"

In [4]:
s = s.lower()
s

'i went to the park to play and loved sitting on the swings... we you ours'

In [5]:
unicodedata.normalize('NFKD', s).encode('ascii', 'ignore').decode('utf-8')

'i went to the park to play and loved sitting on the swings... we you ours'

In [6]:
re.sub(r'[^a-z0-9\'\s]', '', s)

'i went to the park to play and loved sitting on the swings we you ours'

In [7]:
def basic_clean(string):

    string = string.lower()
    string = unicodedata.normalize('NFKD', string).encode('ascii', 'ignore').decode('utf-8')
    string = re.sub(r'[^a-z0-9\'\s]', '', string)
    return string

In [8]:
s = basic_clean(s)

In [9]:
s

'i went to the park to play and loved sitting on the swings we you ours'

###### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [10]:
tokenize = nltk.tokenize.ToktokTokenizer()

In [11]:
tokenize.tokenize(s, return_str=True)

'i went to the park to play and loved sitting on the swings we you ours'

In [12]:
nltk.tokenize.ToktokTokenizer().tokenize(s, return_str=True)

'i went to the park to play and loved sitting on the swings we you ours'

In [13]:
def tokenize(string):
    string = nltk.tokenize.ToktokTokenizer().tokenize(string, return_str=True)
    return string

In [14]:
s = tokenize(s)

###### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [15]:
def stem(text):
    # nltk.porter.PorterStemmer().stem(text)
    stems = [nltk.porter.PorterStemmer().stem(word) for word in text.split()]
    stemmed_text = ' '.join(stems)
    return stemmed_text

In [16]:
stem(s)

'i went to the park to play and love sit on the swing we you our'

###### 4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [17]:
def lemmatize(text):
    #Lemmatizer
    lemans = [nltk.stem.WordNetLemmatizer().lemmatize(word) for word in text.split()]
    lemmed_text = ' '.join(lemans)
    return lemmed_text

In [18]:
lemmatize(s)

'i went to the park to play and loved sitting on the swing we you ours'

###### 5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.
- This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [19]:
stopwords_list = stopwords.words('english')
stopwords_list[1:10]

['me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [20]:
def remove_stopwords(text, extra_words, exclude_words):
    from nltk.corpus import stopwords
    stopwords_list = stopwords.words('english')
    stopwords_list.remove(exclude_words)
    stopwords_list.append(extra_words)
    text = [word for word in text.split() if word not in stopwords_list]
    text = ' '.join(text)
    return text

In [21]:
s

'i went to the park to play and loved sitting on the swings we you ours'

In [22]:
remove_stopwords(s, '', 'you')

'went park play loved sitting swings you'

###### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [23]:
news_df = wrangle.get_news_articles()
news_df

,title,content,category
0,Begin your revolutionary 5G journey with Airte...,Airtel announced that its 5G Plus services wil...,technology
1,WhatsApp services restored partially in some c...,Partial restoration of WhatsApp services appea...,technology
2,WhatsApp down for several users in India,Services of Meta-owned WhatsApp are reported t...,technology
3,Google fined ₹936 crore in India for anti-comp...,The Competition Commission of India (CCI) on T...,technology
4,Google CEO Pichai celebrates India's win over ...,Google and Alphabet's CEO Sundar Pichai on Mon...,technology
...,...,...,...
95,"2 BJP leaders quit, file papers as independent...",BJP leaders Vipin Naihariya and Anil Choudhry ...,politics
96,K'taka government approves 11 projects to gene...,The Karnataka government has approved 11 devel...,politics
97,Acting as tool of RSS: Kerala CM on Guv seekin...,After Kerala Governor Arif Mohammed Khan sough...,politics
98,TMC leader shot inside Kali Puja pandal in Wes...,TMC youth leader Raj Pandey was shot by unknow...,politics
99,Farmers affected due to excessive rains to be ...,Maharashtra CM Eknath Shinde said he has given...,politics

###### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [24]:
codeup_df = wrangle.get_blog_articles()
codeup_df

,title,content
0,Why Should You Learn to Code?,Many do not realize that learning to code is m...
1,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo..."
2,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
3,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
4,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
5,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."

###### 8. For each dataframe, produce the following columns:
- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

#### news_df

In [25]:
news_df

,title,content,category
0,Begin your revolutionary 5G journey with Airte...,Airtel announced that its 5G Plus services wil...,technology
1,WhatsApp services restored partially in some c...,Partial restoration of WhatsApp services appea...,technology
2,WhatsApp down for several users in India,Services of Meta-owned WhatsApp are reported t...,technology
3,Google fined ₹936 crore in India for anti-comp...,The Competition Commission of India (CCI) on T...,technology
4,Google CEO Pichai celebrates India's win over ...,Google and Alphabet's CEO Sundar Pichai on Mon...,technology
...,...,...,...
95,"2 BJP leaders quit, file papers as independent...",BJP leaders Vipin Naihariya and Anil Choudhry ...,politics
96,K'taka government approves 11 projects to gene...,The Karnataka government has approved 11 devel...,politics
97,Acting as tool of RSS: Kerala CM on Guv seekin...,After Kerala Governor Arif Mohammed Khan sough...,politics
98,TMC leader shot inside Kali Puja pandal in Wes...,TMC youth leader Raj Pandey was shot by unknow...,politics
99,Farmers affected due to excessive rains to be ...,Maharashtra CM Eknath Shinde said he has given...,politics

In [29]:
news_df.iloc[0].title

'Begin your revolutionary 5G journey with Airtel 5G Plus: Airtel'

In [31]:
news_df['clean_text'] = news_df.content.apply(basic_clean)
news_df.head(1)

,title,content,category,clean_text
0,Begin your revolutionary 5G journey with Airte...,Airtel announced that its 5G Plus services wil...,technology,airtel announced that its 5g plus services wil...

In [34]:
news_df['lemmatized'] = news_df.content.apply(wrangle.clean)
news_df.head(1)

,title,content,category,clean_text,lemmatized
0,Begin your revolutionary 5G journey with Airte...,Airtel announced that its 5G Plus services wil...,technology,airtel announced that its 5g plus services wil...,"[airtel, announced, 5g, plus, service, availab..."

In [36]:
news_df['stemmed'] = news_df.content.apply(stem)
news_df.head(1)

,title,content,category,clean_text,lemmatized,stemmed
0,Begin your revolutionary 5G journey with Airte...,Airtel announced that its 5G Plus services wil...,technology,airtel announced that its 5g plus services wil...,"[airtel, announced, 5g, plus, service, availab...",airtel announc that it 5g plu servic will be a...

In [37]:
news_df

,title,content,category,clean_text,lemmatized,stemmed
0,Begin your revolutionary 5G journey with Airte...,Airtel announced that its 5G Plus services wil...,technology,airtel announced that its 5g plus services wil...,"[airtel, announced, 5g, plus, service, availab...",airtel announc that it 5g plu servic will be a...
1,WhatsApp services restored partially in some c...,Partial restoration of WhatsApp services appea...,technology,partial restoration of whatsapp services appea...,"[partial, restoration, whatsapp, service, appe...",partial restor of whatsapp servic appear to ha...
2,WhatsApp down for several users in India,Services of Meta-owned WhatsApp are reported t...,technology,services of metaowned whatsapp are reported to...,"[service, metaowned, whatsapp, reported, sever...",servic of meta-own whatsapp are report to be d...
3,Google fined ₹936 crore in India for anti-comp...,The Competition Commission of India (CCI) on T...,technology,the competition commission of india cci on tue...,"[competition, commission, india, cci, tuesday,...",the competit commiss of india (cci) on tuesday...
4,Google CEO Pichai celebrates India's win over ...,Google and Alphabet's CEO Sundar Pichai on Mon...,technology,google and alphabet's ceo sundar pichai on mon...,"[google, alphabet, ceo, sundar, pichai, monday...",googl and alphabet' ceo sundar pichai on monda...
...,...,...,...,...,...,...
95,"2 BJP leaders quit, file papers as independent...",BJP leaders Vipin Naihariya and Anil Choudhry ...,politics,bjp leaders vipin naihariya and anil choudhry ...,"[bjp, leader, vipin, naihariya, anil, choudhry...",bjp leader vipin naihariya and anil choudhri h...
96,K'taka government approves 11 projects to gene...,The Karnataka government has approved 11 devel...,politics,the karnataka government has approved 11 devel...,"[karnataka, government, approved, 11, developm...",the karnataka govern ha approv 11 develop proj...
97,Acting as tool of RSS: Kerala CM on Guv seekin...,After Kerala Governor Arif Mohammed Khan sough...,politics,after kerala governor arif mohammed khan sough...,"[kerala, governor, arif, mohammed, khan, sough...",after kerala governor arif moham khan sought t...
98,TMC leader shot inside Kali Puja pandal in Wes...,TMC youth leader Raj Pandey was shot by unknow...,politics,tmc youth leader raj pandey was shot by unknow...,"[tmc, youth, leader, raj, pandey, shot, unknow...",tmc youth leader raj pandey wa shot by unknown...
99,Farmers affected due to excessive rains to be ...,Maharashtra CM Eknath Shinde said he has given...,politics,maharashtra cm eknath shinde said he has given...,"[maharashtra, cm, eknath, shinde, said, given,...",maharashtra cm eknath shind said he ha given d...

#### Codeup_df

In [26]:
codeup_df

,title,content
0,Why Should You Learn to Code?,Many do not realize that learning to code is m...
1,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo..."
2,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
3,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
4,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
5,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."

In [38]:
codeup_df['clean_text'] = codeup_df.content.apply(basic_clean)
codeup_df.head(1)

,title,content,clean_text
0,Why Should You Learn to Code?,Many do not realize that learning to code is m...,many do not realize that learning to code is m...

In [39]:
codeup_df['lemmatized'] = codeup_df.content.apply(wrangle.clean)
codeup_df.head(1)

,title,content,clean_text,lemmatized
0,Why Should You Learn to Code?,Many do not realize that learning to code is m...,many do not realize that learning to code is m...,"[many, realize, learning, code, potential, car..."

In [40]:
codeup_df['stemmed'] = codeup_df.content.apply(stem)
codeup_df.head(1)

,title,content,clean_text,lemmatized,stemmed
0,Why Should You Learn to Code?,Many do not realize that learning to code is m...,many do not realize that learning to code is m...,"[many, realize, learning, code, potential, car...",mani do not realiz that learn to code is more ...

In [41]:
codeup_df

,title,content,clean_text,lemmatized,stemmed
0,Why Should You Learn to Code?,Many do not realize that learning to code is m...,many do not realize that learning to code is m...,"[many, realize, learning, code, potential, car...",mani do not realiz that learn to code is more ...
1,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo...",for many people deciding between a coding boot...,"[many, people, deciding, coding, bootcamp, com...","for mani people, decid between a code bootcamp..."
2,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...,codeup is excited to launch our first diversit...,"[codeup, excited, launch, first, diversity, eq...",codeup is excit to launch our first divers equ...
3,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...,codeup has been named the 2022 diversity and i...,"[codeup, named, 2022, diversity, inclusion, aw...",codeup ha been name the 2022 divers and inclus...
4,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...,deciding to transition into a tech career is a...,"[deciding, transition, tech, career, big, step...",decid to transit into a tech career is a big s...
5,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio...",codeup strongly values diversity and inclusion...,"[codeup, strongly, value, diversity, inclusion...","codeup strongli valu diversity, and inclusion...."

###### 9. Ask yourself:
- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

1. Lemmatized

2. Stemmed

3. Stemmed